/* Citation: 
    - The color codes are from Color Hunt: https://colorhunt.co/palette/fffbf5f7efe5c3acd0674188 
*/

body {
    background-color: #F7EFE5;
    
}

table {
    background-color: #C3ACD0;
    padding: 5%;
    width: 50%;
}

tr {
    padding: 1%;
    text-align: center;

}

td {
    padding: 1%;
    text-align: center;
}

form {
    text-align: center;
    padding: 10%;
}

#formInputs {
    background-color: #C3ACD0;
    height: 300px;
    text-align: center;
    padding: 50px;
}


#results {
    padding: 5%;
}